@import "compass/css3";
@import "../mixins/mixins";
@import "../global/variables";
@import "../global/typography";
@import "../global/helpers";



.email-group {
  position: relative;
  @include media('<=xs') {
    // Firefox needs this
    width: 100%;
  }
  span.input-enter-prompt {
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #073660;
    opacity: 0.76;
    margin-left: 10px;
    line-height: 16px;
    padding-bottom: 15px;
    background: transparent url(../images/arrows-dark-blue.svg) no-repeat left 33px;
    background-size: 19px 12px;
    right: 220px;
    top: 4px;
    z-index: 4;
    position: absolute;
    display: none;
    @include media('<=xs') {
      right: 10px;
    }
  }
}

.cta-submit {
  > button {
    // Firefox needs this property to have the button showing in the right size
    @include media('>xs') {
      width: auto;
    }
  }
}

.cta-container {
  h1 {
    color: $white;
  }
  padding: 40px 20px 17px;
  form.cta-form {
    margin: 0 0 15px 0;
  }
  .form-group {
    margin-top: 15px;
  }
  input, button {
    height: 57px;
    text-align: center;
    font-size: 19px;
    line-height: 19px;
    outline: 0;
    border: 0;
    @extend .font1;
    &:active, &:hover {
      border: 0;
      outline: none;
    }
  }
  .cta-submit {
    @include media("<=xs") {
      display: table;
      width: 100%;
    }
  }
  input[name="email"] {
    color: $dark-blue;
    text-align: left;
    line-height: 1.3;
    box-shadow: none;
    @include media('>=sm') {
      padding-right: 85px;
    }
    @include media('<=xs') {
      @include border-radius(4px 4px 0 0 !important);
    }
    @include media('>xs') {
      @include border-radius(4px 0 0 4px !important);
    }
  }
  button[name="submit"] {
    color: $white;
    background-color: $orange;
    @include media('>xs') {
      @include border-radius(0 4px 4px 0);
    }
    @include media('<=xs') {
      @include border-radius(0 0 4px 4px !important);
    }
  }
  input::-webkit-input-placeholder {
    color: $dark-blue;
    font-size: 19px;
    @include media('<=xs') {
      text-align: center !important;
    }
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: $dark-blue;
    font-size: 19px;
    @include media('<=xs') {
      text-align: center !important;
    }
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: $dark-blue;
    font-size: 19px;
    @include media('<=xs') {
      text-align: center !important;
    }
  }
  input:-ms-input-placeholder {
    color: $dark-blue;
    font-size: 19px;
    @include media('<=xs') {
      text-align: center !important;
    }
  }
  input:focus::-webkit-input-placeholder {
    color: rgba(7, 54, 96, 0.3);

  }
  input:focus:-moz-placeholder { /* Firefox 18- */
    color: rgba(7, 54, 96, 0.3);

  }
  input:focus::-moz-placeholder { /* Firefox 19+ */
    color: rgba(7, 54, 96, 0.3);
  }
  input:focus:-ms-input-placeholder {
    color: rgba(7, 54, 96, 0.3);
  }
}