.font1 {
  font-family: "roble_alt_boldbold";
}

.font2 {
  font-family: "roble_alt_mediummedium";
}

.font3 {
  font-family: "roble_altregular";
}

.font4 {
  font-family: "roble_alt_bookbook";
}

.font5 {
  font-family: "roble_alt_lightlight";
}

.font6 {
  font-family: "roble_alt_thinthin";
}

.font7 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.font8 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

.dark-blue {
  color: #073660;
}

.dark-blue-2 {
  color: #3893d0;
}

.faint-blue-2 {
  color: #a8bfd3;
}

.italic {
  font-style: italic;
}

.clear-both {
  clear: both;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/*
header
*/
a.nav-logo-wrapper {
  margin: 21px 0 0;
  display: inline-block;
  padding: 0;
}
a.nav-logo-wrapper > img.logo-img {
  width: 168px;
}
@media (max-width: 480px) {
  a.nav-logo-wrapper > img.logo-img {
    width: 135px;
  }
}

.pricing-header {
  text-align: center;
  color: #073660;
  padding: 20px;
}
.pricing-header h1 {
  font-size: 48px;
  margin-bottom: 35px;
}
@media (max-width: 479px) {
  .pricing-header h1 {
    font-size: 40px;
  }
}
.pricing-header .tag-line {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .pricing-header .tag-line {
    font-size: 20px;
  }
}
.pricing-header .aud {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #849ab1;
}

.pricing-buttons {
  margin: 30px 0 12px;
}
.pricing-buttons .btn {
  background: #eff2f7;
  color: #849ab1;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  position: relative;
  outline: none;
}
@media (max-width: 479px) {
  .pricing-buttons .btn {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.pricing-buttons .btn.active, .pricing-buttons .btn:focus {
  background: #3993d1;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.pricing-buttons .btn.active:after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #3993d1;
  border-bottom: none;
  position: absolute;
  bottom: -7px;
  left: 50%;
}

.icon {
  width: 1em;
  height: 1em;
}

@media (min-width: 768px) {
  .plans-wrapper {
    background: #fff;
    border: 1px solid #e4ebf0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 3px 5px 0 #e4ebf0;
    margin-top: 30px;
  }
}

.pricing-plan {
  font-size: 13px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .pricing-plan {
    border: 1px solid #e4ebf0;
    box-shadow: 0 3px 5px 0 #e4ebf0;
    margin-bottom: 30px;
  }
}
.pricing-plan.popular {
  border: 1px solid #3993d1;
  border-width: 28px 1px 1px;
  -moz-box-shadow: 0 3px 53px 1px rgba(57, 147, 209, 0.35);
  -webkit-box-shadow: 0 3px 53px 1px rgba(57, 147, 209, 0.35);
  box-shadow: 0 3px 53px 1px rgba(57, 147, 209, 0.35);
  z-index: 10;
}
@media (min-width: 768px) {
  .pricing-plan.popular {
    margin-top: -28px;
  }
}
.pricing-plan.popular .pricing-plan-header:before {
  content: 'Most Popular Choice';
  color: #fff;
  font-family: "roble_alt_boldbold";
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  top: -21px;
  left: 0;
}
.pricing-plan .pricing-plan-header, .pricing-plan .pricing-plan-features {
  padding-left: 14%;
  padding-right: 14%;
}
.pricing-plan .pricing-plan-header {
  background: #eff2f7;
  color: #073660;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pricing-plan .pricing-plan-header .btn {
  background: #ff8a00;
  color: #fff;
  border: none;
  margin: 0 auto 10px;
  max-width: 200px;
  padding: 18px;
  font-size: 16px;
}
.pricing-plan h3 {
  margin: 0 0 4px;
  font-size: 30px;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .pricing-plan h3 {
    font-size: 22px;
  }
}
.pricing-plan h3 .icon {
  vertical-align: top;
}
.pricing-plan .users {
  margin: 0 0 15px;
}
.pricing-plan .pricetag {
  font-size: 14px;
  margin: 0 0 16px;
}
.pricing-plan .pricetag .price {
  font-size: 24px;
  vertical-align: middle;
  padding-left: 6px;
}
.pricing-plan .pricetag .price-permo {
  font-size: 14px;
  vertical-align: super;
}
@media (max-width: 1024px) {
  .pricing-plan .pricetag {
    font-size: 12px;
  }
  .pricing-plan .pricetag .price {
    font-size: 20px;
    padding-left: 4px;
  }
  .pricing-plan .pricetag .price-permo {
    font-size: 12px;
  }
}
.pricing-plan .cta {
  margin: 0;
}
.pricing-plan .cta a {
  color: #073660;
}
.pricing-plan .pricing-plan-features {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
}
@media (min-width: 1025px) {
  .pricing-plan .pricing-plan-features {
    min-height: 390px;
  }
}
@media (max-width: 1024px) {
  .pricing-plan .pricing-plan-features {
    min-height: 450px;
  }
}
@media (max-width: 767px) {
  .pricing-plan .pricing-plan-features {
    min-height: 1px;
  }
}
.pricing-plan .pricing-plan-features ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pricing-plan .pricing-plan-features ul li {
  margin: 0 0 10px;
  padding: 0 0 0 34px;
  position: relative;
}
.pricing-plan .pricing-plan-features ul .font1 {
  color: #073660;
}
.pricing-plan .pricing-plan-features ul .icon-tick, .pricing-plan .pricing-plan-features ul .icon-plus {
  position: absolute;
  top: 2px;
  left: 0;
}

.pricing-trial-included {
  text-align: center;
  border-top: 1px solid #e4ebf0;
}
.pricing-trial-included p {
  padding: 20px;
  margin: 0;
}
@media (max-width: 767px) {
  .pricing-trial-included {
    border: 1px solid #e4ebf0;
    box-shadow: 0 3px 5px 0 #e4ebf0;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
}

.pricing-info {
  background: #eff2f7;
  padding-top: 210px;
  margin-top: -210px;
  color: #073660;
  text-align: center;
}
@media (min-width: 768px) {
  .pricing-info {
    font-size: 11px;
  }
}
.pricing-info .info-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4ebf0;
}
.pricing-info .left, .pricing-info .right {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 769px) {
  .pricing-info .left {
    text-align: left;
  }
  .pricing-info .right {
    text-align: right;
  }
}
.pricing-info .info-link {
  padding: 0 0 0 15px;
  cursor: pointer;
  color: #073660;
  white-space: nowrap;
}
.pricing-info .info-link .icon {
  width: 18px;
  height: 18px;
}
@media (max-width: 1024px) {
  .pricing-info .info-link {
    padding: 0 0 0 8px;
  }
}
@media (max-width: 767px) {
  .pricing-info .info-link {
    padding: 0 0 0 20px;
  }
}
.pricing-info .right a {
  text-decoration: underline;
  color: #073660;
}

.pricing-all-features {
  background: #eff2f7;
  color: #073660;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 14px;
}
.pricing-all-features h2 {
  text-align: center;
  color: #073660;
  margin: 0 0 40px;
  font-size: 30px;
}
.pricing-all-features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pricing-all-features li {
  margin: 0 0 10px;
  padding: 6px 0 0 40px;
  min-height: 40px;
  position: relative;
}
.pricing-all-features li .icon-tick {
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 1px solid #9cc9e8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.pricing-faq {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #073660;
}
.pricing-faq h2 {
  text-align: center;
  color: #073660;
  margin: 0 0 40px;
  font-size: 30px;
}
.pricing-faq a {
  color: #073660;
  font-weight: bold;
  display: block;
}
.pricing-faq .faq-section {
  margin: 0 0 20px;
  padding-left: 30px;
  position: relative;
  font-size: 16px;
}
.pricing-faq .faq-section .question:before {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #849ab1;
  border-bottom: none;
  position: absolute;
  top: 6px;
  left: 0;
}
.pricing-faq .faq-section .answer {
  overflow: hidden;
}
.pricing-faq .faq-section.collapsed .question:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #849ab1;
  border-top: none;
}
