dj-database-url==0.3.0
Django==1.9.4
django-webpack-loader==0.3.0
django-countries==3.4.1
whitenoise==2.0.6
gunicorn==19.4.5
django-compressor==2.0
psycopg2==2.6.1
slacker==0.9.9
raven==5.12.0
djangorestframework==3.3.3
