@import "compass/css3";
@import "global/typography";

.error-page {
  text-align: center;
  height: 100%;
  width: 100%;
}
.row.error-header {
  background-color: #3893d0;
  height: 60px;
  padding: 12px 0;
}
.image-section {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #eceff2;
}
@media (max-width: 767px) {
  .image {
    max-width: 60%;
  }
}
.info-section {
  font-weight: 600;
  margin-top: 70px;
  font-size: 18px;
  color: #333c48;
}
