@import "compass/css3";
@import "mixins/mixins";
@import "home_icons";

// Todo: Move to another file
.font1 {
  font-family: 'roble_alt_boldbold';
}

//.font2 {
//  font-family: 'roble_alt_mediummedium';
//}

.font3 {
  font-family: 'roble_altregular';
}

.font4 {
  font-family: 'roble_alt_bookbook';
}

.font5 {
  font-family: 'roble_alt_lightlight';
}

.font6 {
  font-family: 'roble_alt_thinthin';
}

.font7 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font8 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

// Todo: Move to another file
$dark-blue: #073660;
$dark-blue-2: #3893d0;
$faint-blue: rgb(239, 243, 247);
$faint-blue-2: #a8bfd3;
$faint-blue-3: #f3faff;
$faint-blue-4: #e0effa;
$orange: #ff8a00;
$white: #FFFFFF;

// helpers

.static {
  position: static;
}
.relative {
  position: relative;
}

.dark-blue {
  color: $dark-blue;
}


.dark-blue-2 {
  color: $dark-blue-2;
}

.faint-blue-2 {
  color: $faint-blue-2;
}

.italic {
  font-style: italic;
}


.email-group {
  position: relative;
  span.input-enter-prompt {
    vertical-align: middle;
    font-size: 12px;
    color: #bdd2e5;
    margin-left: 10px;
    line-height: 16px;
    padding-bottom: 15px;
    background: transparent url(../images/enter.png) no-repeat left bottom;
    right: 220px;
    top: 6px;
    z-index: 4;
    position: absolute;
    display: none;
    @include media('<=xs') {
      right: 10px;
    }
  }
}


.fixed-header-wrapper {
  position: fixed;
  display: none;
  width: 100%;
  background: $white;
  box-shadow: 0 25px 25px rgba(62, 123, 166, 0.1);
  z-index: 5;
  .header-inner-wrapper {
    padding: 12px 10px 2px;
  }
  form.cta-form {
    margin: 0 0 15px 0;
  }
  .form-group {
    margin-top: 15px;
  }
  input, button {
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    outline: 0;
    border: 0;
    @extend .font1;
    &:active, &:hover {
      border: 0;
      outline: none;
    }
  }
  .email-group {
    width: 418px;
    float: right;
  }
  .cta-submit {
    @include media("<=xs") {
      display: table;
      width: 100%;
    }
  }
  span.input-enter-prompt {
    width: 70px;
    vertical-align: middle;
    font-size: 12px;
    color: #bdd2e5;
    margin-left: 10px;
    line-height: 16px;
    padding-bottom: 15px;
    background: transparent url(../images/enter.png) no-repeat right 32%;;
    right: 220px;
    top: 6px;
    z-index: 4;
    position: absolute;
    display: none;
    //@include media('<=xs') {
    //  right: 10px;
    //}
  }
  input[name="email"] {
    color: $dark-blue;
    float: right;
    height: 38px;
    text-align: left;
    width: 252px;
    line-height: 38px;
    @include border-radius(4px 0 0 4px !important);
    box-shadow: none;
    border: 1px solid #ecf2f7;
    @include media('<=xs') {
      display: none;
    }
  }
  button[name="submit"] {
    color: $white;
    background-color: $orange;
    padding: 7px 13px;
    height: 38px;
    @include media('>xs') {
      @include border-radius(0 4px 4px 0);
    }
    @include media('<=xs') {
      @include border-radius(4px !important);
      float: right;
      width: auto;
    }
  }
  input::-webkit-input-placeholder {
    color: $dark-blue;
    font-size: 13px;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: $dark-blue;
    font-size: 13px;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: $dark-blue;
    font-size: 13px;
  }
  input:-ms-input-placeholder {
    color: $dark-blue;
    font-size: 13px;
  }

}

a.nav-logo-wrapper {
  margin: 21px 0 59px 0;
  display: inline-block;
  @include media("<=xs") {
    margin: 10px 0 0 0;
  }
  a.logo {
    height: 17px;
    display: inline-block;
  }
  > img.logo-img {
    width: 160px;
    position: absolute;
    left: 1px;
    @include media("<=xs") {
      width: 135px;
      left: 14px;
      top: 10px;
    }
  }
}

.slogan-container {
  margin: 65px 0 20px;
  @include media('<=xs') {
    margin-top: 86px;
  }
  > h1 {
    font-size: 48px;
    line-height: 1.2;
    @include media('>sm', '<md') {
      font-size: 38px;
    }
    @include media('>md', '<lg') {
      font-size: 40px;
    }
    @include media('<=sm') {
      font-size: 24px;
    }


  }
}

.vcentre {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.sub-slogan-container {
  padding: 5px 8% 40px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  font-size: 19px;

  @include media('<=sm') {
    padding-bottom: 20px;
    font-size: 16px;
    h1 {
      font-size: 27px;
    }
  }
  .tag-line {
    font-size: 22px;
    line-height: 1.5;
    @include media('<=sm') {
      font-size: 16px;
      //line-height: 1.2;
    }
  }
}

.cta.row {
  > div {
    background-color: $faint-blue;
    @include media('>=sm') {
      &:after {
        content: " ";
        position: absolute;
        background: transparent url(../images/arrow.png) no-repeat bottom right;
        width: 36px;
        height: 81px;
        right: 60px;
        bottom: -40px;
      }
    }
  }
}

.cta-container {
  padding: 40px 20px 17px;
  form.cta-form {
    margin: 0 0 15px 0;
  }
  .form-group {
    margin-top: 15px;
  }
  input, button {
    height: 57px;
    text-align: center;
    font-size: 19px;
    line-height: 19px;
    outline: 0;
    border: 0;
    @extend .font1;
    &:active, &:hover {
      border: 0;
      outline: none;
    }
  }
  .cta-submit {
    @include media("<=xs") {
      display: table;
      width: 100%;
    }
  }
  input[name="email"] {
    color: $dark-blue;
    text-align: left;
    line-height: 1.3;
    box-shadow: none;
    @include media('<=xs') {
      @include border-radius(4px 4px 0 0 !important);
    }
  }
  button[name="submit"] {
    color: $white;
    background-color: $orange;
    @include media('>xs') {
      @include border-radius(0 4px 4px 0);
    }
    @include media('<=xs') {
      @include border-radius(0 0 4px 4px !important);
    }
  }
  input::-webkit-input-placeholder {
    color: $dark-blue;
    font-size: 19px;
    text-align: center;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: $dark-blue;
    font-size: 19px;
    text-align: center;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: $dark-blue;
    font-size: 19px;
    text-align: center;
  }
  input:-ms-input-placeholder {
    color: $dark-blue;
    font-size: 19px;
    text-align: center;
  }
  input:focus::-webkit-input-placeholder {
    color: rgba(7, 54, 96, 0.3);

  }
  input:focus:-moz-placeholder { /* Firefox 18- */
    color: rgba(7, 54, 96, 0.3);

  }
  input:focus::-moz-placeholder { /* Firefox 19+ */
    color: rgba(7, 54, 96, 0.3);
  }
  input:focus:-ms-input-placeholder {
    color: rgba(7, 54, 96, 0.3);
  }
}

// The old way new way section
.old-new-compare {
  margin: 35px 0 180px;
  @include media('<xs') {
    margin-bottom: 23px;
  }
  h2 {
    margin-bottom: 4px;
  }
  .font-size-subheading {
    font-size: 15px;
  }
  .sub-heading-group {
    margin: 33px 0;
    @include media('<=xs') {
      margin: 0;
    }
  }
  .horizontal-vs-line {
    border: 0.5px solid #ebf4fa;
    height: 0.5px;
    position: relative;
    margin: 60px 0 55px;
    > span {
      position: absolute;
      top: -14px;
      background: white;
      left: 41%;
      width: 15%;
      font-size: 19px;
    }
    @include media('<=xs') {
      margin: 19px 0 38px;
    }
  }

  .vertical-bar-wrapper {
    float: left;
    height: 320px;
    margin-top: 132px;
    position: absolute;
    left: -6px;
  }

  .vertical-vs-line {
    border: 0.5px solid #ebf4fa;
    height: 100%;
    position: relative;
    padding: 166px 0 0;
    > span {
      position: absolute;
      background: $white;
      padding-top: 30px;
      font-size: 19px;
      left: -15px;
      width: 31px;
      height: 80px;
      vertical-align: middle;
      margin-top: -39px;
    }
  }
}

.old-il-image {
  @include retina-image(old_way, png);
  background-size: contain !important;
  background-position: center;
  width: auto;
  height: 305px;
}

.new-way-wrapper {
  @include media('>=md') {
    width: 80%;
    margin-left: 9%;
  }
}

.new-il-image {
  @include retina-image(new_way, png);
  background-size: contain !important;
  background-position: center;
  width: auto;
  @include media('>md') {
    margin-top: 45px;
  }
}

.row.js-how-it-works {
  color: $dark-blue;
  background: $faint-blue-3;
  @include media('<md') {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  @include media('<sm') {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  @include media('>md') {
    padding-top: 170px;
    padding-bottom: 150px;
  }
  .big-circle-left {
    @include media('>sm') {
      &:before {
        pointer-events: none;
        content: " ";
        position: absolute;
        border: 1px solid #ebf4fa;
        width: 705px;
        height: 705px;
        border-radius: 1000px;
        top: -292px;
        margin-right: -220px;
        left: -5%;
      }
    }
  }
  .big-circle-right {
    @include media('>sm') {
      &:after {
        pointer-events: none;
        content: " ";
        position: absolute;
        border: 1px solid #ebf4fa;
        width: 705px;
        height: 705px;
        border-radius: 1000px;
        top: -292px;
        margin-left: -220px;
        right: -4%;
      }
    }
  }
  .feature-heading {
    margin-bottom: 25px;
    > h2 {
      font-size: 36px;
      @include media('<=xs') {
        font-size: 26px;
      }
    }
  }
  .feature-text {
    > p.slide-text {
      font-size: 24px;
      @include media('<=xs') {
        font-size: 18px;
      }
      @include animation-duration(0.45s);
    }
  }
  .feature-heading,
  .feature-text {
    text-align: center;
  }
  .feature-heading.left,
  .feature-text.left {
    @include media('>sm') {
      text-align: right;
    }
  }
  .feature-heading.right,
  .feature-text.right {
    @include media('>sm') {
      text-align: left;
    }
  }
  p.slide-text {
    font-size: 15px;
    display: none;
    min-height: 65px;
    &.active {
      display: block;
    }
  }
  ul.slide-controls {
    text-align: center;
    padding-left: 0;
    @include media('<=sm') {
      margin: 22px 0;
    }
    > li {
      display: block;
      @include media('<=sm') {
        // change to horizontal layout
        display: inline-block;
        margin: 15px 10px;
      }
      width: 18px;
      height: 18px;
      margin: 15px auto;
      text-align: center;
      > a {
        width: 13px;
        height: 13px;
        @include border-radius(50%);
        background: $faint-blue-4;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
      }
      &.active {
        > a {
          background: $faint-blue-4;
          background: $dark-blue-2;
          width: 17px;
          height: 17px;
        }
      }
    }
  }

}

.row.efficiency {
  background: $dark-blue-2;
  padding: 100px 0 0;
  @include media('<=xs') {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  color: $white;
  .sub-heading-group {
    margin: 0 0 30px;
    h1 {
      line-height: 40px;
    }
  }

  .x7image {
    max-width: 80%;
    @include media('>=sm', '<=lg') {
      max-width: 60%;
    }
  }
  .x5image {
    max-width: 40%;
    @include media('>=sm', '<=lg') {
      max-width: 35%;
    }
  }
  .efficiency-group {
    margin: 65px 0;
    @include media ('<xs') {
      margin: 0;
    }
    @include media('>=md') {
      margin-top: 130px;
    }
    .text-wrapper {
      width: 80%;
      margin: 0 auto;
    }
  }
  .js-number-count {
    height: 214px;
    position: relative;
    .number-count {
      font-size: 150px;
    }
    .number-appendix {
      font-size: 125px;
    }
    .number-count, .number-appendix {
      color: $dark-blue;
      @extend .font6;
    }
    .cover-text {
      display: none;
      @extend .font3;
      position: absolute;
      font-size: 16px;
      top: 54%;
      width: 100%;
      opacity: .9;
    }
  }
}

.row.waste {
  margin-top: 80px;
  margin-bottom: 80px;
  @include media(">=md") {
    @include retina-image(paper_bg, png);
    width: 100%;
    height: auto;
    background-size: 60% 75% !important;
    background-position: center !important;
  }
  .sub-heading-group {
    margin: 0 0 15px 0
  }
  .waste-image-wrapper {
    margin: 55px 0;
  }
  .text-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .il-group {
    text-align: center;
    margin: 20px 0 0;
    > img {
      height: 40px;
    }
  }
}

p.small-text {
  font-size: 14px;
  margin-top: 10px;
}

.paper-waste-image {
  max-width: 100%;
}

.hand-held-image-wrapper {
  @include retina-image(hand_held, png);
  width: 100%;
  height: auto;
}

u {
  text-decoration-style: dotted;
}

.row.history {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f3faff;
  @include media('>=sm') {
    font-size: 13px;
  }

  h1 {
    font-size: 25px;
    line-height: 1.2;
  }

  .timeline-top {
    margin: 25px 0 0 0;
  }
  .circle-top {
    @include retina-image(circle_quote, png);
    background-size: contain !important;
    background-position: center;
    width: auto;
    height: 140px;
    position: relative;
    .quote {
      width: 100%;
      padding-top: 27px;
      font-style: italic;
      font-size: 18px;
      font-weight: 300;
      @include media('>=sm') {
        width: 250px;
      }
      @include media('<=xs') {
        font-size: 13px;
      }
    }
  }

  .timeline {
    font-size: 18px;
    position: relative;
    padding-top: 1px;
    &::before {
      /* this is the vertical line */
      content: '';
      position: absolute;
      top: 0;
      left: 49.96%;
      height: 100%;
      width: 1px;
      background: #d7e4ed;
    }

  }
  .cd-timeline-img {
    text-align: center;
  }
  .year-label {
    @include border-radius(5px);
    background-color: $white;
    box-shadow: 0 35px 40px 0 rgba(0, 62, 106, 0.1);
    width: 73px;
    line-height: 46px;
    height: 46px;
    display: inline-block;
    font-size: 20px;
    color: $dark-blue;
    @extend .font1;
    @include media ('<xs') {
      width: 38px;
      line-height: 20px;
      height: 20px;
      display: inline-block;
      font-size: 13px;
    }
  }
  .year-dot {
    background: #deeef8;
    width: 12px;
    height: 12px;
    @include border-radius(50%);
    margin: 0 auto;
  }
  .left-side-content {
    float: right;
    text-align: right;
    padding-right: 15px;
  }
  .right-side-content {
    float: left;
    text-align: left;
    padding-left: 15px;
  }
  .text-wrapper {
    font-size: 18px;
    @extend .font8;
    @include media('<=xs') {
      font-size: 13px;
    }
  }
  .side-content {
    max-width: 150px;
    @include media('>xs') {
      max-width: 250px;
    }
    > img {
      height: 82px;
      margin-top: 8px;
      @include media('<=xs') {
        height: 50px;
      }
    }
  }
  .cd-timeline-block {
    position: relative;
    margin: 60px 0;
  }
}

.row.electronic-signature {
  padding-top: 50px;
  padding-bottom: 50px;
  p {
    font-size: 1.4em;
    line-height: 1.5;
  }
}
.icon-illustration-wrapper {
  margin: 20px 0;
  .icon-round-shadow {
    @include border-radius(50%);
    @include box-shadow(0 35px 40px 0 rgba(0, 62, 106, 0.1));
    width: 50px;
    height: 50px;
    background-color: $white;
    line-height: 50px;
    font-size: 19px;
  }
  .icon-star {
    font-size: 40px;
    padding-top: 10px;
  }
  .icon-club {
    // This glyph from font1 is faulty that the color doesn't work on
    // mobile
    font-size: 25px;
  }
  ul {
    margin: 37px 0;
    li {
      padding: 0 20px;
      @include media("<=xs") {
        padding: 0 10px;
      }
    }
  }
}



.row.cta-bottom {
  padding-top: 59px;
  padding-bottom: 46px;
  background-color: $dark-blue-2;
  h1 {
    color: $white;
  }
  form.cta-form {
    margin: 70px 0 15px 0;
  }
}

footer {
  padding-top: 19px;
  padding-bottom: 10px;
  ul {
    li {
      padding-left: 2px !important;
      padding-right: 2px !important;
    }
  }
}

.dot-underline {
  border-bottom: 2px dotted #073660;
}

// The modal background
.remodal {
  background-image: image-url('Emondo-Icon-Colour.svg') !important;
  background-position: 116% 358% !important;
  background-size: 58% 88% !important;
  background-repeat: no-repeat !important;
}