@import "compass/css3";
@import "mixins/mixins";
@import "global/variables";
@import "global/typography";
@import "global/helpers";

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/*
header
*/
a.nav-logo-wrapper {
  margin: 21px 0 0;
  display: inline-block;
  padding:0;
  > img.logo-img {
    width: 168px;
    @include media("<=xs") {
      width: 135px;
    }
  }
}

.pricing-header {
  text-align: center;
  color: $dark-blue;
  padding: 20px;
  h1 {
    font-size: 48px;
    margin-bottom: 35px;
    @include media('<xs') { font-size: 40px; }
  }
  .tag-line {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
    @include media('<lg') { font-size: 20px; }
  }
  .aud {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #849ab1;
  }
}
.pricing-buttons {
  margin: 30px 0 12px;
  .btn {
    background: #eff2f7;
    color: #849ab1;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    position: relative;
    outline: none;
    @include media('<xs') {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .btn.active, .btn:focus {
    background: $blue;
    color: #fff;
    @include box-shadow(none);
    outline: none;
  }
  .btn.active:after {
    // carat
    content: ' ';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $blue;
    border-bottom: none;
    position: absolute;
    bottom: -7px;
    left: 50%;
  }
}

.icon {
  width: 1em;
  height: 1em;
}

// pricing plans
.plans-wrapper {
  @include media('>=sm') {
    background: #fff;
    border: 1px solid #e4ebf0;
    @include border-radius(4px);
    @include box-shadow(0 3px 5px 0 #e4ebf0);
    margin-top: 30px;
  }
}
.pricing-plan {
  font-size: 13px;
  @include border-radius(4px);
  @include media('<sm') {
    border: 1px solid #e4ebf0;
    @include box-shadow(0 3px 5px 0 #e4ebf0);
    margin-bottom: 30px;
  }
  &.popular {
    border: 1px solid $blue;
    border-width: 28px 1px 1px;
    @include box-shadow(0 5px 20px 1px rgba(57,147,209,0.35));
    z-index: 10;
    @include media('>=sm') { margin-top: -28px; }
    .pricing-plan-header:before {
      content: 'Most Popular Choice';
      color: #fff;
      font-family: "roble_alt_boldbold";
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;;
      text-align: center;
      display: block;
      width: 100%;
      position: absolute;
      top: -21px;
      left: 0;
    }
  }
  .pricing-plan-header, .pricing-plan-features {
    padding-left: 14%;
    padding-right: 14%;
  }
  .pricing-plan-header {
    background: #eff2f7;
    color: $dark-blue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    .btn {
      background: #ff8a00;
      color: #fff;
      border: none;
      margin: 0 auto 10px;
      max-width: 200px;
      padding: 18px;
      font-size: 16px;
    }
  }
  h3 {
    margin: 0 0 4px;
    font-size: 30px;
    white-space: nowrap;
    @include media('<lg') { font-size: 22px; }
    .icon {
      vertical-align: top;
    }
  }
  .users {
    margin: 0 0 15px;
  }
  .pricetag {
    font-size: 14px;
    margin: 0 0 16px;
    .price {
      font-size: 24px;
      vertical-align: middle;
      padding-left: 6px;
    }
    .price-permo {
      font-size: 14px;
      vertical-align: super;
    }
    @include media('<lg') {
      font-size: 12px;
      .price {
        font-size: 20px;
        padding-left: 4px;
      }
      .price-permo {
        font-size: 12px;
      }
    }
  }
  .cta {
    margin: 0;
    a {
      color: $dark-blue;
    }
  }
  .pricing-plan-features {
    padding-top: 30px;
    padding-bottom: 20px;
    background: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    @include border-radius(0 0 4px 4px);
    @include media('>lg') { min-height: 390px; }
    @include media('<=lg') { min-height: 450px; }
    @include media('<sm') { min-height: 1px; } // mobile stacked layout
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 10px;
        padding: 0 0 0 34px;
        position: relative;
      }
      .font1{
        color: $dark-blue;
      }
      .icon-tick, .icon-plus {
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }
}
.pricing-trial-included {
  text-align: center;
  border-top: 1px solid #e4ebf0;
  p {
    padding: 20px;
    margin: 0;
  }
  @include media('<sm') {
    border: 1px solid #e4ebf0;
    @include box-shadow(0 3px 5px 0 #e4ebf0);
    background: #fff;
    @include border-radius(4px);
  }
}

.pricing-info {
  background: #eff2f7;
  padding-top: 210px;
  margin-top: -210px;
  @include media('>=sm') { font-size: 11px; }
  .info-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4ebf0;
  }
  .left, .right {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  color: $dark-blue;
  text-align: center;
  @include media('>sm') {
    .left {text-align: left;}
    .right {text-align: right;}
  }
  .info-link {
    padding: 0 0 0 15px;
    cursor: pointer;
    color: $dark-blue;
    white-space: nowrap;
    .icon {
      width: 18px;
      height: 18px;
    }
    @include media('<lg') { padding: 0 0 0 8px; }
    @include media('<sm') { padding: 0 0 0 20px; }
  }
  .right a {
    text-decoration: underline;
    color: $dark-blue;
  }
}

.pricing-all-features {
  background: #eff2f7;
  color: $dark-blue;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 14px;
  h2 {
    text-align: center;
    color: $dark-blue;
    margin: 0 0 40px;
    font-size: 30px
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin: 0 0 10px;
    padding: 6px 0 0 40px;
    min-height: 40px;
    position: relative;
    .icon-tick {
      width: 32px;
      height: 32px;
      padding: 8px;
      border: 1px solid #9cc9e8;
      @include border-radius(50%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.pricing-faq {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    color: $dark-blue;
    margin: 0 0 40px;
    font-size: 30px;
  }
  color: $dark-blue;
  a {
    color: $dark-blue;
    font-weight: bold;
    display: block;
  }
  .faq-section {
    margin: 0 0 20px;
    padding-left: 30px;
    position: relative;
    font-size: 16px;
    .question:before {
      // carat
      content: ' ';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #849ab1;
      border-bottom: none;
      position: absolute;
      top: 6px;
      left: 0;
    }
    .answer {
      overflow: hidden;
    }
    &.collapsed {
      .question:before {
        // carat
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #849ab1;
        border-top: none;
      }
    }
  }
}
