@import "compass/css3";
@import "mixins/mixins";
@import "global/variables";
@import "global/typography";
@import "global/helpers";

$price-label-border-color: #c9caca;
$price-label-popular-border-color: #2865a6;
$pricing-list-bg-color: #efefef;
$grey-font-color: #e9e9e9;

.fixed-header-wrapper {
  width: 100%;
  z-index: 5;

  .header-logo {
    width: 100%;
    height: 60px;
    background-color: $dark-blue-2;
    align-items: center;
  }

  .logo-img {
    height: 90%;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
  }

  .header-help {
    margin: 5px 20px 0;
    .row{
      margin: 0;
    }
  }

  .help-tip1 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;

  }
  .help-tip2 {
    display: inline-block;
    float: left;
  }

  .start-free-button {
    border: 4px solid $dark-blue-2;
    color: $dark-blue-2;
    height: 35px;
    width: 125px;
    float: right;
  }

  .contact-info {
    float: right;
    padding-top: 2px;
    margin-left: 5px;

  }
}

.pricing-list {
  font-family: "Open Sans";
  background-color: $pricing-list-bg-color;
  .row {
    margin: 10px 10px;
  }
  .btn {
    margin-top: 20px;
    width: 140px;
    height: 40px;
  }

  .btn:hover {
    background-color: $dark-blue-2;
    color: $white;
  }

  .additional-info{
    font-size: smaller;
    margin:0;
    color: grey;
  }

  .feature-info{
    margin-top: 15px;
    font-weight: bolder;
    font-size: 15px;
  }
}

.price-label {
  text-align: center;
  box-shadow: 5px 5px 30px 0 $price-label-border-color;
  border: 1px solid $price-label-border-color;
  margin: 40px 3px;
  height: 900px;
  padding: 20px 10px;
}

.price-label:hover{
    background-color: $white;
    border: 1px solid $price-label-popular-border-color;
  }

.most-popular-label {
  position: relative;
  left: -11px;
  top: -51px;
  width: 106.9%;
  height: 30px;

  p{
    font-size: medium;
    top: 4px;
    position: relative;
  }
}

.price-label-popular{
  text-align: center;
  box-shadow: 5px 5px 30px 0 $price-label-border-color;
  border: 1px solid $price-label-popular-border-color;
  margin: 40px 3px;
  height: 900px;
  padding: 20px 10px;

  .most-popular-label {
    background-color: $price-label-popular-border-color;
    color: $white;
  }
}

.price-label-popular:hover{
  background-color: $white;
}


.price-label-currency {
  font-size: 10px;
  position: relative;
  top: -12px;
  left: 5px;
}

.price-label-header {
  width: 80%;
  margin: 0px auto 40px auto;
  padding: 0px 0px 40px 0px;
  border-bottom: 1px solid $price-label-border-color;
}

.price-label-footer{
  width: 80%;
  margin: auto;

}

.free-account-label {
  box-shadow: 5px 5px 30px 0 $price-label-border-color;
  border: 1px solid $price-label-border-color;
  padding: 20px 10px;
  width: 100%;
  margin-bottom: 35px;
}

.free-account-label:hover{
    background-color: $white;
    border: 1px solid $price-label-popular-border-color;
  }

.free-account-label-header{
  text-align: center;
  border-right: 1px solid $price-label-border-color;
  border-bottom: 0px solid $price-label-border-color;

  @media (max-width: 768px){
    display:block;
    margin: 0px auto 40px auto;
    padding: 0px 0px 40px 0px;
    border-bottom: 1px solid $price-label-border-color;
    border-right: 0px solid $price-label-border-color;
    width: 80%;
  }
}

.free-account-label-footer{
  display:inline-block;
  margin: 15px 10px;

  @media (max-width: 768px){
    text-align: center;
    margin:0;
    width: 100%;
  }
}