@import "compass/css3";
@import "mixins/mixins";
@import "global/variables";
@import "global/typography";
@import "global/helpers";
@import "offcanvas";

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/*
header
*/
a.nav-logo-wrapper {
  margin: 21px 0 0;
  display: inline-block;
  padding:0;
  > img.logo-img {
    width: 168px;
    @include media("<=xs") {
      width: 135px;
    }
  }
}

.pricing-header {
  text-align: center;
  color: $dark-blue;
  padding: 20px;
  h1 {
    font-size: 48px;
    margin-bottom: 35px;
    @include media('<xs') { font-size: 40px; }
  }
  .tag-line {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
    @include media('<lg') { font-size: 20px; }
  }
  .aud {
    @extend .font9;
    font-size: 11px;
    text-transform: uppercase;
    color: $grey;
  }
}
.pricing-buttons {
  margin: 30px 0 12px;
  .btn {
    @extend .font9;
    background: $faint-grey;
    color: $grey;
    position: relative;
    outline: none;
    @include media('<xs') {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .btn.active, .btn:focus {
    background: $blue;
    color: $white;
    @include box-shadow(none);
    outline: none;
  }
  .btn.active:after {
    // carat
    content: ' ';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $blue;
    border-bottom: none;
    position: absolute;
    bottom: -7px;
    left: 50%;
  }
}

.icon {
  width: 1em;
  height: 1em;
}

// pricing plans
.plans-wrapper {
  @include media('>=sm') {
    background: $white;
    border: 1px solid $faint-grey-2;
    @include border-radius(4px);
    @include box-shadow(0 3px 5px 0 $faint-grey-2);
    margin-top: 30px;
  }
}
.pricing-plan {
  font-size: 13px;
  @include border-radius(4px);
  @include media('<sm') {
    border: 1px solid $faint-grey-2;
    @include box-shadow(0 3px 5px 0 $faint-grey-2);
    margin-bottom: 30px;
  }
  &.popular {
    border: 1px solid $blue;
    border-width: 28px 1px 1px;
    @include box-shadow(0 5px 20px 1px rgba(57,147,209,0.35));
    z-index: 10;
    @include media('>=sm') { margin-top: -28px; }
    .pricing-plan-header:before {
      @extend .font1;
      content: 'Most Popular Choice';
      color: $white;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;;
      text-align: center;
      display: block;
      width: 100%;
      position: absolute;
      top: -21px;
      left: 0;
    }
  }
  .pricing-plan-header, .pricing-plan-features {
    padding-left: 14%;
    padding-right: 14%;
  }
  .pricing-plan-header {
    background: $faint-grey;
    color: $dark-blue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    .btn {
      background: #ff8a00;
      color: $white;
      border: none;
      margin: 0 auto 10px;
      max-width: 200px;
      padding: 18px;
      font-size: 16px;
    }
  }
  h3 {
    margin: 0 0 4px;
    font-size: 30px;
    white-space: nowrap;
    @include media('<lg') { font-size: 22px; }
    .icon {
      vertical-align: top;
    }
  }
  .users {
    margin: 0 0 15px;
  }
  .pricetag {
    font-size: 14px;
    margin: 0 0 16px;
    .price {
      font-size: 24px;
      vertical-align: middle;
      padding-left: 6px;
    }
    .price-permo {
      font-size: 14px;
      vertical-align: super;
    }
    @include media('<lg') {
      font-size: 12px;
      .price {
        font-size: 20px;
        padding-left: 4px;
      }
      .price-permo {
        font-size: 12px;
      }
    }
  }
  .cta {
    margin: 0;
    a {
      color: $dark-blue;
    }
  }
  .pricing-plan-features {
    // @extend .font7;
    padding-top: 30px;
    padding-bottom: 20px;
    background: $white;
    font-size: 15px;
    @include border-radius(0 0 4px 4px);
    @include media('>lg') { min-height: 390px; }
    @include media('<=lg') { min-height: 450px; }
    @include media('<sm') { min-height: 1px; } // mobile stacked layout
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 10px;
        padding: 0 0 0 34px;
        position: relative;
      }
      .font1{
        color: $dark-blue;
        font-size: 16px;
      }
      .icon-tick, .icon-plus {
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }
}
.pricing-trial-included {
  text-align: center;
  border-top: 1px solid $faint-grey-2;
  p {
    padding: 20px;
    margin: 0;
  }
  @include media('<sm') {
    border: 1px solid $faint-grey-2;
    @include box-shadow(0 3px 5px 0 $faint-grey-2);
    background: $white;
    @include border-radius(4px);
  }
}

.pricing-info {
  background: $faint-grey;
  padding-top: 210px;
  margin-top: -210px;
  @include media('>=sm') { font-size: 11px; }
  .info-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $faint-grey-2;
  }
  .left, .right {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  color: $dark-blue;
  text-align: center;
  @include media('>sm') {
    .left {text-align: left;}
    .right {text-align: right;}
  }
  .info-link {
    padding: 0 0 0 15px;
    cursor: pointer;
    color: $dark-blue;
    white-space: nowrap;
    .icon {
      width: 18px;
      height: 18px;
    }
    @include media('<lg') { padding: 0 0 0 8px; }
    @include media('<sm') { padding: 0 0 0 20px; }
  }
  .right a {
    text-decoration: underline;
    color: $dark-blue;
  }
}

.pricing-all-features {
  background: $faint-grey;
  color: $dark-blue;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 14px;
  h2 {
    text-align: center;
    color: $dark-blue;
    margin: 0 0 40px;
    font-size: 30px
  }
  .list-title {
    font-size: 16px;
    font-weight: 600;
    color: $dark-blue;
    padding: 20px 0;
    margin: 0 0 20px;
    text-align: center;
    border-bottom: 1px solid $faint-grey-2;
  }
  .list-title:before {
    content: ' ';
    display: block;
    margin: 0 auto 20px;
  }
  .icon-doc2builder:before {
    @include retina-image(features_doc2builder, png);
  }
  .icon-esigs:before {
    @include retina-image(features_esigs, png);
  }
  .icon-forms:before {
    @include retina-image(features_forms, png);
  }
  .icon-data:before {
    @include retina-image(features_data, png);
  }
  .icon-security:before {
    @include retina-image(features_security, png);
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin: 0 0 20px;
    padding: 0 0 0 34px;
    position: relative;
    .icon-tick {
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

.pricing-faq {
  background: $white;
  color: $dark-blue;
  padding-top: 70px;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    color: $dark-blue;
    margin: 0 0 90px;
    font-size: 30px;
  }
  a.question {
    color: $dark-blue;
    font-weight: bold;
    display: block;
    cursor: pointer;
    margin: 0 0 12px;
  }
  .faq-sidebar {
    @include box-shadow(0 3px 5px 0 $faint-grey-2);
    .btn {
      height: 64px;
      font-size: 18px;
      text-align: left;
      padding: 0;
      color: $faint-grey-3;
      border-color: $faint-grey-2;
      overflow: hidden;
      @extend .font7;
      span {
        padding: 0 26px;
        display: block;
        height:100%;
        line-height: 64px;
      }
      &:hover, &:focus {
        background: $faint-grey;
        outline: none;
      }
      &.js-active span{
        color: $blue;
        background: $faint-grey;
        border-right: 5px solid $blue;
      }
    }
  }
  .faq-tabpanes {
    border-top: 1px solid $faint-grey-2;
    padding-top: 32px;
    min-height: 250px;
  }
  .faq-section {
    margin: 0 0 32px;
    padding-left: 30px;
    position: relative;
    font-size: 16px;
    .question:before {
      // carat
      content: ' ';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $grey;
      border-bottom: none;
      position: absolute;
      top: 6px;
      left: 0;
    }
    &.collapsed {
      a { color: $faint-grey-3; }
      .question:before {
        // carat
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $grey;
        border-top: none;
      }
    }
  }
}

.faq-toggle-offcanvas {
  position: absolute;
  left: -5px;
  top: -45px;
  font-size: 20px;
  color: #fff !important;
  background: $blue;
  &:hover {
    background: darken($blue, 10%);
  }
  &:focus, &:active {
    outline: none;
  }
  .arrow-right {display: inline;}
  .arrow-left {display: none;}
}
.row-offcanvas.active .faq-toggle-offcanvas {
  .arrow-right {display: none;}
  .arrow-left {display: inline;}
}
