{% extends 'emails/base/base_email.html' %}
{% load static %}
{% block extra_styles %}

    <style type="text/css">

    /* -------------------------------------
            ELEMENTS
        ------------------------------------- */

    </style>

{% endblock %}

{% block body_content %}
    <div class="site-heading-row">
        <a href="{% url 'cms_blog_home' %}" class="logo nav-logo-wrapper">
            <img class="logo-img" src="{% static 'images/logo_colour_tagline_w175x2.png' %}" width="175" style="width:175px;" />
        </a>
    </div>
    <table>
        <tr>
            <td>
                <h3>{{ subject }}</h3>
            </td>
        </tr>
        <tr>
            <td class="separator-line" height="30">
            </td>
        </tr>
        <tr>
            <td>
                <p>Hello {{ first_name }},</p>
                <p>Our attempt to bill {{ charge_amount }} to your current payment details, Visa ending in {{payment_last4digits}}, failed.</p>
                <p>Update your billing settings for emondo to continue your emondo {{ account_type }} plan.</p>
                <p>We will automatically retry to charge the amount above using your current payment details on the {{ todaysdate_plus_5days }}</p>
            </td>
        </tr>
        <tr><td height="15"></td></tr>
        <tr>
            <td>
                <div class="btn-primary">
                   <a href="">Update billing settings</a>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
