{% extends 'core/html5.html' %}
{% load staticfiles %}
{% load compress %}
{% load hotjar_tags %}
{% load intercom_tags %}


{% block seo_contents %}

{% endblock %}

{% block head_styles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/pricing.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/roblealt_bold_macroman/stylesheet.css' %}">
    {% endcompress %}
{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block wrapper %}
    <div class="fixed-header-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-logo">
                    <img class="logo-img" src="{% static 'images/logo_white.png' %}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="header-help">
                    <div class="row">
                        <p class="help-tip1">You can upgrade or downgrade at any time</p>
                    <button type="button"
                                class="start-free-button btn btn-default">
                            START FREE
                    </button>
                    </div>
                    <div class="row">
                        <p class="help-tip2">
                            <strong>All plans Free 30 day unlimited trail. no credit card required</strong>
                        </p>
                    <p class="contact-info">Have a question? Phone 1800 emondo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pricing-list">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
                <div class="price-label">
                    <p class="most-popular-label">&nbsp;</p>
                    <div class="price-label-header">
                        <h3>ENTERPRISE</h3>
                        <h1>$149<span class="price-label-currency">AUD</span></h1>
                        <p>Billed annually</p>
                        <p>5 or more</p>
                        <p><strong>Get all Business Pro features PLUS</strong></p>
                        <button type="button" class="btn btn-default">BUY NOW</button>
                    </div>
                        <p>BCustom signature font</p>
                        <p>Custom OCR matching</p>
                        <p>AFSL monitoring & alerts</p>
                        <p>Embedded forms & documents</p>
                        <p>3rd party form & document sponses</p>
                        <p>Ongoing KYC for customer lifecycle</p>
                        <p>Dedicated account manager</p>
                        <p>Custom domains</p>
                        <p>International KYC/AML electronic identification verification</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
                <div class="price-label-popular">
                    <p class="most-popular-label">MOST POPULAR</p>
                    <div class="price-label-header">
                        <h3>BUSINESS PREMIUM</h3>
                        <h1>$79<span class="price-label-currency">AUD</span></h1>
                        <p>Billed annually or</p>
                        <p>$99 month-to-month</p>
                        <p><strong>Get all Business features PLUS</strong></p>
                        <button type="button" class="btn btn-primary">BUY NOW</button>
                    </div>
                    <p>Bulk send</p>
                    <p>Team analytics</p>
                    <p>Domestic KYC/AML</p>
                    <p>Custom form & document alerts</p>
                    <p>Unlimited URLs per form & document</p>
                    <p>Private online document certification</p>
                    <p>Manually & automatically reassign forms</p>
                    <p>$12 ASIC company extracts</p>
                    <p>Stripe & PayPal payments</p>
                    <p>Automatically convert documents into online forms</p>
                    <p>Electronic document verification and match</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
                <div class="price-label">
                    <p class="most-popular-label">&nbsp;</p>
                    <div class="price-label-header">
                        <h3>BUSINESS</h3>
                        <h1>$39<span class="price-label-currency">AUD</span></h1>
                        <p>Billed annually or</p>
                        <p>$49 month-to-month</p>
                        <p><strong>Get all Personal features PLUS</strong></p>
                        <button type="button" class="btn btn-default">BUY NOW</button>
                    </div>
                    <p>In-person signing</p>
                    <p>Roles & permissions</p>
                    <p>Contract autocomplete</p>
                    <p>Form builder and editor</p>
                    <p>Custom security settings</p>
                    <p>2-way CRM integration*</p>
                    <p>3rd party form & document sharing</p>
                    <p>Unlimited forms & submissions</p>
                    <p>Lead capture from abandoned forms</p>
                    <p>All events stamped on the Blockchain</p>
                    <p>Pre-fill forms & documents</p>
                    <p>International SMS*</p>
                    <p>Custom branding</p>
                    <p>Ream time email & data verification & validation</p>
                    <p>Unlimited PKI digital signature & certificates</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
                <div class="price-label">
                    <p class="most-popular-label">&nbsp;</p>
                    <div class="price-label-header">
                        <h3>PERSONAL</h3>
                        <h1>$9<span class="price-label-currency">AUD</span></h1>
                        <p>Per month</p>
                        <p>&nbsp;</p>
                        <p><strong>Get all Free features PLUS</strong></p>
                        <button type="button" class="btn btn-default">BUY NOW</button>
                    </div>
                    <p>emondo manager</p>
                    <p>Document encryption</p>
                    <p>Unlimited documents</p>
                    <p>Unlimited file storage</p>
                    <p>Electronic signature witnessning</p>
                    <p>Unlimited electronic signatures</p>
                    <p>Electronic document verification</p>
                    <p>Individual analytics</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="free-account-label">
                    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-3">
                        <div class="free-account-label-header ">
                            <h3>FREE</h3>
                            <h1>$0</h1>
                            <p>Forever</p>
                            <button type="button" class="btn btn-default">GET NOW</button>
                        </div>
                    </div>
                    <div class="free-account-label-footer">
                        <p>emondo ID</p>
                        <p>Audit log</p>
                        <p>Send & sign 4 documents per month</p>
                        <p>Document builder and editor</p>
                        <p>Unlimited electronic signatures</p>
                        <p>Access to online document certification</p>
                        <p>Sign like a celebrity (if you share on FB)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block after_wrapper %}
    
{% endblock %}
{% block footer_scripts %}

{% endblock %}
{% block tracking_scripts %}
    {% include_intercom %}
    {% include_hotjar %}
{% endblock %}


