{% extends 'core/html5.html' %}
{% load staticfiles %}
{% load compress %}
{% load hotjar_tags %}
{% load intercom_tags %}


{% block seo_contents %}

{% endblock %}

{% block head_styles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/pricing.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/roblealt_bold_macroman/stylesheet.css' %}">
    {% endcompress %}
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript">
        var load = function (filePath) {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = filePath;
            var head = document.getElementsByTagName('head')[0];
            head.appendChild(l);
        };
        var asyncLoadCSSFiles = function () {
            load("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
            load("{% static 'stylesheets/vendor/animate.css' %}");
            load("{% static 'fonts/roblealt_light_macroman/stylesheet.css' %}");
            load("{% static 'fonts/roblealt_regular_macroman/stylesheet.css' %}");
            load("{% static 'javascripts/remodal/remodal.css' %}");
            load("{% static 'javascripts/remodal/remodal-default-theme.css' %}");
            load("{% static 'javascripts/remodal/remodal-default-theme.css' %}");
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) {
            raf(asyncLoadCSSFiles);
        } else {
            window.addEventListener('load', asyncLoadCSSFiles);
        }
    </script>

{% endblock %}

{% block wrapper %}
  <div class="fixed-header-wrapper">
    <div class="row">
      <div class="col-xs-4">
        <div class="header-inner-wrapper">
          <img class="logo-img" src="{% static 'images/logo_colour_tagline.svg' %}" width="130"/>
        </div>
      </div>
      <div class="col-xs-6 col-xs-push-2">
        {% include "public/elements/head-inner-wrapper.html" %}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <a href="/" class="logo nav-logo-wrapper">
          <img class="logo-img" src="{% static 'images/logo_colour_tagline.svg' %}" width="175"/>
        </a>
        <div class="in-page-nav">
          <ul class="list-inline">
            <li><a class="font1 dark-blue" href="#nav-how-it-works" >How It Works</a></li>
            <li><a class="font1 dark-blue" href="#nav-history" >History</a></li>
            <li><a class="font1 dark-blue" href="/pricing">Pricing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pricing-header">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
        <h1>Our Pricing Plans</h1>
        <p>Start aquiring more clients, faster. Onboard them anywhere, anytime.</p>
        <p>It's frictionless and secure. Paperwork and wet ink signatures are history.</p>
        <p class="pricing-buttons">
          <button type="button" class="js-price-toggle js-price-annual btn btn-lg active">
            Annual Pricing (33% off)
          </button>
          <button type="button" class="js-price-toggle js-price-monthly btn btn-lg">
            Month-to-month Pricing
          </button>
        </p>
        <p class="aud">All prices in AUD</p>
      </div>
    </div>
  </div>

  <div class="container-fluid pricing-plans">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
        <div class="plans-wrapper">
          <div class="row no-gutter">
            <div class="col-xs-12 col-sm-4 pricing-plan js-pricing-plan"
              data-price-annual="99.83" data-price-monthly="149">
              <div class="pricing-plan-header">
                <h3>Global</h3>
                <p class="users">Unlimited users</p>
                <p class="pricetag js-pricetag font3">
                  $<span class="price js-price">99.83</span>
                  per user / mo
                </p>
                <p class="cta">
                  <button type="button" class="btn btn-default btn-lg btn-block font1">Buy Now</button>
                  <a href="#">Try for FREE</a>
                </p>
              </div>
              <div class="pricing-plan-features">
                <ul>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Global KYC/AML</li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Global SMS</li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    3rd party submission tracking
                  </li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Partial submissions
                  </li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Custom alerts</li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Custom domains</li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Bulk send (up to 5,000)
                  </li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Dedicated account manager
                  </li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> 24/7 support</li>
                  <li>
                    <img src="{% static 'images/plus_blue.svg' %}" class="icon icon-plus" alt="plus" />
                    <span class="font1">Teams Plan Features</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 pricing-plan js-pricing-plan popular"
              data-price-annual="52.93" data-price-monthly="79">
              <div class="pricing-plan-header">
                <h3>Teams</h3>
                <p class="users">Unlimited users</p>
                <p class="pricetag js-pricetag font3">
                  $<span class="price js-price">52.93</span>
                  per user / mo
                </p>
                <p class="cta">
                  <button type="button" class="btn btn-default btn-lg btn-block font1">Buy Now</button>
                  <a href="#">Try for FREE</a>
                </p>
              </div>
              <div class="pricing-plan-features">
                <ul>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Team analytics</li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Domestic KYC/AML</li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Domestic SMS</li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Custom permissions
                  </li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Custom branding</li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Embedded forms</li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Online identification system (facial recognition &amp; match)
                  </li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Submission editing
                  </li>
                  <li>
                    <img src="{% static 'images/plus_blue.svg' %}" class="icon icon-plus" alt="plus" />
                    <span class="font1">Professional Plan Features</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 pricing-plan js-pricing-plan"
              data-price-annual="26.13" data-price-monthly="39">
              <div class="pricing-plan-header">
                <h3>Professional</h3>
                <p class="users">Unlimited users</p>
                <p class="pricetag js-pricetag font3">
                  $<span class="price js-price">26.13</span>
                  per user / mo
                </p>
                <p class="cta">
                  <button type="button" class="btn btn-default btn-lg btn-block font1">Buy Now</button>
                  <a href="#">Try for FREE</a>
                </p>
              </div>
              <div class="pricing-plan-features">
                <ul>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Unlimited submissions
                  </li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Blockchain timestamp
                  </li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> Autosave</li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Propriatory electronic signature witnessing
                  </li>
                  <li><img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" /> 3rd party apps</li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Individual analytics
                  </li>
                  <li>
                    <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                    Audit trail &amp; reporting
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12 pricing-trial-included">
              <p>All plans include FREE 30 day unlimited feature trial.
              No obligation, no credit card required.
              You can change or cancel your plan anytime.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pricing-info">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
        <div class="info-inner">
          <div class="row">
            <div class="col-xs-12 col-sm-6 left">Questions?
              <span class="info-link">
                <img src="{% static 'images/tick_blue.svg' %}" class="icon" alt="" />
                1800 Emondo
              </span>
              <span class="info-link">
                <img src="{% static 'images/tick_blue.svg' %}" class="icon" alt="" />
                Live Chat
              </span>
              <a class="info-link" href="#faq">
                <img src="{% static 'images/tick_blue.svg' %}" class="icon" alt="" />
                FAQ
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 right">
              <b>Free Plan:</b> 1 user and 5 submissions per month - <a href="#">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pricing-all-features">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
        <div class="row">
          <h2>Every plan includes all these amazing features:</h2>
          <div class="col-xs-12 col-sm-4">
            <ul>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Unlimited digital signatures
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Verify email existence
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Unlimited secure file storage
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Online and offline authentication
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Sign like a star
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Form sharing
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Hardware security module (HSM)
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Custom security settings
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-4">
            <ul>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Document encryption
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Form prefill (manual and auto)
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Lifetime file storage
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Document Verification Service (DVS)
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Signer authentication
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Environmental savings
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Private Key Infrastructure
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Tamper proof documents
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-4">
            <ul>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                ID and company verification
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Salary &amp; data verification
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Address validation
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Custom OCR matching
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                Document to form builder
              </li>
              <li>
                <img src="{% static 'images/tick_blue.svg' %}" class="icon icon-tick" alt="" />
                256-bit SSL security
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pricing-faq" name="faq" id="faq">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
        <h2>Frequently Asked Questions</h2>
        <div class="faq-section">
          <a class="question" href="#question1">Question?</a>
          <div class="answer" id="question1">Answer.</div>
        </div>
        <div class="faq-section collapsed">
          <a class="question" href="#question2">Another question?</a>
          <div class="answer" id="question2">Another answer.</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block after_wrapper %}

{% endblock %}
{% block footer_scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  {% compress js %}
    <script src="{% static 'javascripts/pages/pricing/pricing.js' %}" async></script>
  {% endcompress %}
{% endblock %}
{% block tracking_scripts %}
    {% include_intercom %}
    {% include_hotjar %}
{% endblock %}
