@import "variables";



.font1 {
  font-family: $font1;
}

.font2 {
  font-family: $font2;
}

.font3 {
  font-family: $font3;
}

.font4 {
  font-family: $font4;
}

.font5 {
  font-family: $font5;
}

.font6 {
  font-family: $font6;
}

.font7 {
  font-family: $font7;
  font-weight: 400;
}
.font8 {
  font-family: $font8;
  font-weight: 300;
}