$dark-blue: #073660;
$dark-blue-2: #3893d0;
$faint-blue: rgb(239, 243, 247);
$faint-blue-2: #a8bfd3;
$faint-blue-3: #f3faff;
$faint-blue-4: #e0effa;
$orange: #ff8a00;
$white: #FFFFFF;
$black: #000000;


$font1: 'roble_alt_boldbold';
$font2: 'roble_alt_mediummedium';
$font3: 'roble_altregular';
$font4: 'roble_alt_bookbook';
$font5: 'roble_alt_lightlight';
$font6: 'roble_alt_thinthin';
$font7: 'Open Sans', sans-serif;
$font8: 'Open Sans', sans-serif;