{% extends 'blog/layout_blog.html' %}
{% load feincms_tags %}
{% load static %}
{% load i18n %}

{% block title %}emondo :: {{ entry.title }}{% endblock %}

{% block content %}

    <section class="col-lg-8 main-section">
        {% for entry in entries %}
            <article class="article-preview">
                <h2 class="blog-title">
                    <a href="{{ entry.get_absolute_url }}">
                        {{ entry.title }}
                    </a>
                </h2>
                {% if entry.hero_image %}
                    <div class="hero-image">
                        <a href="{{ entry.get_absolute_url }}">
                            <img src="{{ entry.hero_image.url }}"/>
                        </a>
                    </div>
                {% endif %}
                <div class="author-row">
                    {% if entry.user.avatar %}
                    <span class="image">
                        <img src="{{ entry.user.avatar.url }}" width="50" height="50" />
                    </span>
                    {% endif %}
                    <span class="name">
                        {{ entry.user.get_full_name }}
                    </span>
                    <span class="categories hide-sm">
                    {% for tag in entry.tags.all %}
                        {{ tag.name|title }}{% if not forloop.last %},&nbsp;{% endif %} 
                    {% endfor %}
                    </span>
                </div>
                {% if entry.excerpt %}
                <div>
                    {{ entry.excerpt|safe }}...&nbsp;<a href="{{ entry.get_absolute_url }}">Read More</a>
                </div>
                {% endif %}
            </article>
        {% endfor %}

        {% if is_paginated %}
            <div class="article-navigation">
                <div class="col-sm-6 text-left">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'cms_blog_home' %}?page={{ page_obj.previous_page_number }}">&lt; Newer</a>
                    {% endif %}
                </div>
                <div class="col-sm-6 text-right">
                    {% if page_obj.has_next %}
                        <a href="{% url 'cms_blog_home' %}?page={{ page_obj.next_page_number }}">Older &gt;</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </section>
    <aside class="col-lg-4 aside">
    </aside>

{% endblock %}
